@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<section style="width:100%;height:70vh;display:flex; justify-content:center;align-items:center;flex-direction:column;">
	<div class="card shadow" style="height: 400px; margin: 35px;border-radius:30px;background:#F9F9F9;">
		<div class="card-content"
			style="display: flex;flex-direction: column;height:100%; margin:0px;padding:0px;border-radius:9px;">
			<div class="row columns" style="margin:0px;">
				<a asp-page="LoanForm" class="column  center border border-left">
					<div class="center">
						<div class="center icon-container" style="margin-left:20px;">
							<i class="ri-currency-line" style="font-size:1.5rem"></i>
						</div>
					</div>
					<div class="center" style="width: 100%;">
						<h2 style="font-size:1.6rem;margin-right:20px;font-weight: 600;">Retiro<br>de Efectivo</h2>
					</div>
				</a>
				<a asp-page="ATMPage" class="column  center border border-right">
					<div class="center">
						<div class="center icon-container" style="margin-left:20px;">
							<i class="ri-money-dollar-box-fill" style="font-size:1.5rem"></i>
						</div>
					</div>
					<div class="center" style="width: 100%;">
						<h2 style="font-size:1.6rem;margin-right:20px;font-weight: 600;">Calculo<br>de prestamo</h2>
					</div>
				</a>
			</div>
			<div class="row columns">
				<p class="text-message">
					Se esta realizando mantenimiento en este dispositivo, hay opciones que no estaran habilitadas.
				</p>
			</div>
		</div>
	</div>
</section>

<style>
	.row {
		display: flex;
		width: 100%;
		height: 100%;
		margin: auto;
	}

	.shadow {
		box-shadow: 0px 0px 15px rgba(156, 158, 159, .7) !important;
	}

	.center {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.icon-container {

		box-shadow: 0px 0px 10px #ccc;
		border-radius: 50%;
		width: 60px;
		height: 60px;
	}

	.border {
		border-right: 1px solid #E8E8E8;
		border-bottom: 1px solid #E8E8E8;
		transition: all 0.2s ease-out;
	}

	.border:hover {
		cursor: pointer;
		box-shadow: inset 0 0 10px #ccc;
	}

	.border-left {
		border-top-left-radius: 30px;
	}

	.border-right {
		border-top-right-radius: 30px;
	}


	.text-message {
		margin: 0px 20px;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 600;
	}

	.col {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;
	}

</style>
